NEXT_PUBLIC_SITE_URL=https://sanisanikidstv.com
NEXT_PUBLIC_YOUTUBE_URL=https://youtube.com/@sanisanikidstv
NEXT_PUBLIC_TIKTOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_CONTACT_EMAIL=sanisanikidstv@gmail.com

NEWSLETTER_ENDPOINT=
CONTACT_ENDPOINT=
